body {
    background-color: transparent;
}

main {
    bottom: 7%;
    display: none;
    position: absolute;
    left: 5%;
    width: 20em;
}

#display {
    background-color: #c8c9c8;
    bottom: 26.25%;
    color: #232428;
    height: 2.5em;
    left: 23%;
    position: absolute;
    width: 8em;
}

#radio-frame {
    width: 100%;
    z-index: -1;
}